body {
  background: black;
  color: white;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}
p {
  font-weight: lighter;
  font-size: 16px;
}
h1 {
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}
.home {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(./IMG_0363.png) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.middle {
  padding: 100px 0;
  text-align: center;
  color: white;
}
.intro {
  padding-right: 20px;
  vertical-align: middle;
}
.navbar-custom {
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;
  font-size: 12px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.navbar a {
  color: white;
}
.navbar-custom .nav li a:hover {
  color: black;
}
.navbar-custom .nav li.active a {
  background-color: #333;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.navbar-brand {
  font-size: 40px;
  border: 4px solid white;
  padding-bottom: 20px;
}
.navbar-toggle {
  background-color: rgba(255, 255, 255, 0.2);
}
.page-scroll {
  background-color: black;
}
.glyphicon-envelope {
  font-size: 32px;
  padding: 25px;
  color: white;
  padding-bottom: 10px;
}
.emailCaption {
  color: white;
  visibility: hidden;;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*transition: visibility opacity 0.2s;*/
}
.glyphicon-file .file {
  font-size: 32px;
  padding: 25px;
  color: white;
  padding-bottom: 10px;
}
.fileCaption {
  color: white;
  visibility: hidden;;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /*transition: visibility opacity 0.2s;*/
}
.linkedin {
  font-size: 32px;
  padding: 25px;
  padding-bottom: 10px;
}
.linkedinCaption {
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
/*transition: visibility opacity 0.2s;*/}
.github {
  padding: 25px;
  padding-bottom: 10px;
}
.githubCaption {
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
/*transition: visibility opacity 0.2s;*/}
.btn-toolbar {
  padding-top: 20px;
  display: inline-block;
}
.btn-toolbar:hover .github:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.btn-group:hover .githubCaption{
  visibility: visible;
  opacity: 1;
}
.btn-toolbar:hover .file:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.btn-group:hover .fileCaption{
  visibility: visible;
  opacity: 1;
}

.btn-toolbar:hover .linkedin:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.btn-group:hover .linkedinCaption{
  visibility: visible;
  opacity: 1;
}
.btn-toolbar:hover .email:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
}
.btn-group:hover .emailCaption {
  visibility: visible;
  opacity: 1;
}
.media-object {
  padding-left: 40px;
  height: 230px;
  width: 380px;
}
.media {
  padding: 20px;
}
@media screen and (max-width: 630px) {
  .media-object{
    height: 130px;
    width: 260px;
  }
}
@media screen and (max-width: 515px) {
  .media-object{
    height: 60px;
    width: 110px;
    padding-left: 0px;
  }
}
.htn {
  color: #f0ad4e;
}
.utrack {
  color: #8578c5;
}
.capco {
  color: #dc426d;
}
.moreInfo {
  text-align: center;
}
.resume {
  background: url(./20150829_130013.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 400px;
}
#expTitle {
  padding-top: 50px;
}
#resTitle {
  padding-top: 55px;
}
#contact {
  padding-top: 50px;
}
.resBlurb {
  text-align: center;
  color: #42DCA3;
  vertical-align: middle;
}
.fileicon{
  font-size: 45px;
  color: white;
  vertical-align: middle;
}
.fileicon:hover {
  transition: 0.9s;
  transform: rotateY(360deg);
  color: #42DCA3;
}
.fileicon:hover .resBlurb {
  color: white;
}
.resBlurb:hover {
  color: white;
}
.resBlurb:hover .fileicon {
  color: #42DCA3;
  transition: 0.9s;
  transform: rotateY(360deg);
}
.linkedinContact {
  font-size: 30px;
  padding: 0px;
}
.emailContact {
  font-size: 30px;
  padding: 0px;
  text-align: center;
  vertical-align: middle;
}
.btn {
  background: black;
  border: 2px solid #b4dc42;
  text-align: center;
  width: 170px;
  height: 70px;
  border-radius: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
  padding: 15px;
}
.btn:hover {
  background: #b4dc42;
  color: white;
  border: 0px;
}
.network-name {
  color: white;
  vertical-align: middle;
}
.contact {
  height: 400px;
}
.msg {
  color: #b4dc42;
  padding-top: 30px;
  padding-bottom: 30px;
}
.emailli {
  padding-bottom: 40px;
  padding-right: 25px !important;
}
.linkedinli {
  padding-bottom: 40px;
  padding-left: 25px !important;
}
@media screen and (max-width: 430px) {
  .emailli{
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .linkedinli {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.navCheat {
  height: 53px;
  background-color: black;
}
