body {
  background-image: url(IMG_0363.JPG);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  background-color: black;
  width: 100%;
  height: 100%;

  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.middle {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.intro {
  padding-top: 40px;
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
}
